
<br><br><br>


<div class="container">
    <!--Contacto-->
    <section>
      <!--contacto cabecera-->
      <marquee behavior="" direction="">
        <h2>CONTACTANOS...</h2>
      </marquee>
      <br><br>
    
  
      
        <div class="row">
          <div class="col-lg-7">
          <h1>Contactanos!!</h1>
          
          <main id="o">
            <button type="button" class="button blue mobile" id="registro_user">Dale click y llena el formulario!!</button>
            <table id="tableClient" class="records">
                <thead  >
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Asunto</th>
                        <th>Descripcion</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
    
                </tbody>
            </table>
            <div class="modal1" id="modal">
                <div class="modal1-content">
                    <header class="modal1-header">
                        <h2>Formulario de contacto</h2>
                        <span class="modal1-close" id="modalClose"></span>
                    </header>
                    <form id="form" class="modal1-form">
                        <input type="text" id="nombre" data-index="new" class="modal1-field" placeholder="Nombre"
                            required>
                        <input type="text" id="correo" class="modal1-field" placeholder="Correo" required>
                        <input type="text" id="asunto" class="modal1-field" placeholder="Asunto" required>
                        <input type="text" id="descripcion" class="modal1-field" placeholder="Descripcion" required>
                    </form>
                    <footer class="modal1-footer">
                        <button id="guardar" class="button green">Guardar</button>
                        <button id="cancelar" class="button red">Cancelar</button>
                    </footer>
                </div>
            </div>
        </main>
          </div>
          <div class="col-lg-5">
            <div class="ratio ratio-16x9">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15666.301449301265!2d-74.7909976!3d10.9953899!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3b195f6bb10f7ede!2sCUL%20CORPORACION%20UNIVERSITARIA%20LATINOAMERICANA!5e0!3m2!1ses!2sco!4v1631913406266!5m2!1ses!2sco"
                style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
  
            <br>
            <!--Buttons-->
            <div class="row text-center">
              <div class="col-md-4">
    
                <p><a href="https://es.wikipedia.org/wiki/Barranquilla">Barranquilla</a>, CR50#50</p>
                <p>Colombia</p>
              </div>
    
              <div class="col-md-4">
    
                <p>+57 32222222</p>
                <p>lunes a Sabado, 8:00-21:00</p>
              </div>
    
              <div class="col-md-4">
                <p>info@inventecnologico.com</p>
                <p>tecnologico@gmail.com</p>
              </div>
            </div>
          </div>
    </div>  
  
  <br><br><br><br><br><br>
   
