
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link active" routerLink="/nosotros">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link active" routerLink="/contacto">Contacto</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link active"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Productos e Inventario
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="/electro">Electrodomesticos</a></li>
              <li><a class="dropdown-item" routerLink="/compu">Computadores</a></li>
              <li><a class="dropdown-item"routerLink="/cam-video">Camaras y video</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Registros
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="/usuario">Usuario</a></li>
              <li><a class="dropdown-item"routerLink="/mercancia">Mercancia</a></li>
              
            </ul>
          </li>
          
          
        </ul>
      </div>
    </div>
  </nav>