<div class="container">

  <br>
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../../assets/img/img3camvid.jpg" class="d-lg-block w-100 p-3 h-50 d-inline-block">
        <div class="carousel-caption d-none d-md-block">
          <br><br>
          <div class="text-light">
            <h3>Nuestras Camaras</h3>
            <h5>Son las mejores en el pais</h5>


          </div>

        </div>
      </div>

      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../assets/img/img1camvid.JPG" class="d-lg-block w-100 p-3 h-50 d-inline-block">
        <div class="carousel-caption d-none d-md-block">




        </div>
      </div>
      <div class="carousel-item ">
        <img src="../../../assets/img/img2camvid.JPG" class="d-lg-block w-100 p-3 h-50 d-inline-block">
        <div class="carousel-caption d-none d-md-block">
          <div class="carousel-caption d-none d-md-block">

            <div class="text-warning">
              <br><br>
              <h2>Las mejores en el area de vigilancia</h2>


            </div>




          </div>

        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br><br>
<p class="fs-4 text text-justify">Teniendo en cuenta en como cambia la sociedad con la tecnologia tenemos las
  mejores, enconomicas y solicitados <a target="_blank"
    href="https://epson.com/Support/Other-Products/Digital-Cameras/sh/s720">productos</a> en nuestro inventario
  para brindarte el mejor servicio.</p>
  <div class="row">
    <div class="col-md-4">
      <img src="../../../assets/img/img4camvid.jpg" height="350px" width="520px">
    </div>
    <div class="col-md-4">
      <img src="../../../assets/img/camara1.jpeg" height="350px" width="520px">
    </div>
    <div class="col-md-4">
      <img src="../../../assets/img/camara2.jpg" height="350px" width="460px">
    </div>


  </div>

  <br><br><br><br>








  <table class="table">
    <thead>
      <tr class="table-info">
        <th scope="col">CODIGO</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">EXISTENCIAS</th>
        <th scope="col">SALIDAS</th>
        <th scope="col">STOCK</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-warning">
        <th scope="row">ss001</th>
        <td>Camara de Video Samsung</td>
        <td>140</td>
        <td>60</td>
        <td>50</td>
      </tr>
      <tr class="table-danger">
        <th scope="row">cp001</th>
        <td>Camara profesiona Epson</td>
        <td>80</td>
        <td>30</td>
        <td>20</td>
      </tr>
      <tr class="table-success">
        <th scope="row">pcg001</th>
        <td>Camara de video Xiaomi </td>
        <td>50</td>
        <td>20</td>
        <td>15</td>
      </tr>
      <tr class="table-secondary">
        <th scope="row">li001</th>
        <td>Camara para computador gamer</td>
        <td>45</td>
        <td>25</td>
        <td>35</td>
      </tr>
      <tr class="table-light">
        <th scope="row">th001</th>
        <td>Camara Samsung ultradefinition</td>
        <td>50</td>
        <td>35</td>
        <td>45</td>
      </tr>
      <tr class="table-warning">
        <th scope="row">hp002</th>
        <td>Camara UltraGamer HD </td>
        <td>60</td>
        <td>45</td>
        <td>25</td>
      </tr>

    </tbody>
  </table>
</div>