<br><br><br>
<div class="container">
    <h1>MISION</h1>

    <div class="row">
          <div class="col-lg-7">
              <p  class=" fs-5 text text-justify" > 
                  Entregar confiabilidad y certeza en el levantamiento de inventarios físicos, activos fijos y consultoría; brindando información en tiempo y forma para la correcta toma de decisiones. Ser identificados por nuestros clientes y 
                  juntos hacer <a href="https://economipedia.com/definiciones/rentabilidad.html"> rentable</a> el trabajo en beneficio del progreso 
                  general de nuestros participantes y de la comunidad en 
                  general, para lograr tener presencia en el mercado.

              </p>
          </div>
          <div class="col-lg-5">
              <img src="../../../assets/img/img1.jpg" width="450px" >
          </div>
    </div>  
<br><br><br>
      <h1>VISION</h1>

      <div class="row">
          <div class="col-lg-5">
              <img src="../../../assets/img/img2.png" width="430px" >
          </div>

          <div class="col-lg-7">
              <p class=" fs-5 text text-justify">
                  Ser <a href="https://www.significados.com/eficiencia/"> eficientes</a> y los más confiable por su servicio y calidad a nivel nacional, brindando soluciones e información a nuestros clientes para mejorar en la toma de decisiones y crecimiento de sus empresas con una base concreta  y seguir siendo unicos y diferentes por nuestro alto estandar profesional, valores corporativos de excelencia, y solidos conocimientos tecnicos que en su conjunto benefician a nuestro clientes.
                 
              </p>
          </div>
    </div>
     <br><br> <br> <br>

      <div class="pp1">
        <marquee behavior="" direction=""><h2>VIDEOS RECOMENDADOS...</h2></marquee> 
     </div>
      <br> <br>
      
          <div class="row">
              <div class="col-lg-6">
                  <div class="ratio ratio-16x9">
                      <iframe  src="https://www.youtube.com/embed/Ekm96BCDN0g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="ratio ratio-16x9">
                      <iframe src="https://www.youtube.com/embed/dkwXKEAR-Nw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>>
                  </div>
              </div>
          </div>
    
      </div>
      <br><br><br>