



<div class="container">

    <br><br>



    <div class="row">
        <div class="col col-sm-7">
            <h1>Registrate!!</h1>

            <main>
                <button type="button" class="button blue mobile" id="registro_user">Dale click y llena el tu
                    registro!!</button>
                <table id="tableClient" class="records">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Nombre_user</th>
                            <th>Correo</th>
                            <th>Contraseña</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </main>
        </div>
    
        <div class="col col-sm-5">
            <div class="ratio ratio-16x9">
                <iframe width="460" height="315" src="https://www.youtube.com/embed/s_GBs0V4cR0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>




            <div class="modal1" id="modal">
                <div class="modal1-content">
                    <header class="modal1-header">
                        <h2>Nuevo Usuario</h2>
                        <span class="modal1-close" id="modalClose"></span>
                    </header>
                    <form id="form" class="modal1-form">
                        <input type="text" id="nombre" data-index="new" class="modal1-field" placeholder="Nombre"
                            required>
                        <input type="text" id="usuario" class="modal1-field" placeholder="Usuario" required>
                        <input type="text" id="correo" class="modal1-field" placeholder="Correo" required>
                        <input type="password" id="contra" class="modal1-field" placeholder="Contraseña" required>
                    </form>
                    <footer class="modal1-footer">
                        <button id="guardar" class="button green">Guardar</button>
                        <button id="cancelar" class="button red">Cancelar</button>
                    </footer>
                </div>
            </div>
           


        </div>


           
        
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
