<div class="container">

  <br>
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../../assets/img/imgelec13.jpg" class="d-lg-block w-100 p-3 h-50 d-inline-block">
        <div class="carousel-caption d-none d-md-block">
          <div class="text-dark">
            <h4>Nuestros distribuidores</h4>
            <p>Son los mejores en el pais.</p>
          </div>

        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../assets/img/electro3.jpg" class="d-lg-block w-100 p-3 h-50 d-inline-block">
        <div class="carousel-caption d-none d-md-block">
          <div class="text-dark">
            <h4>Inventariado</h4>
            <p>Con los mejores productos</p>
          </div>

        </div>
      </div>
      <div class="carousel-item ">
        <img src="../../../assets/img/electro4.webp" class="d-lg-block w-100 p-3 h-50 d-inline-block" >
        <div class="carousel-caption d-none d-md-block">

          <div class="text-dark">
            <h4>Variedad</h4>
            <p>Productos con precios accesibles para todo presupuesto</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <br><br>
  <p class="fs-4 text text-justify"> Todo tipos de productos para el hogar, amplia gama de precios, productos al por
    mayor como <a href="https://www.haceb.com/"> Haceb</a> y <a
      href="https://shop.samsung.com.co/electrodomesticos/"> Samsung</a> para tener productos que aseguren la mejor
    calidad.</p>
  <div class="row">
    <div class="col-md-4">
      <img src="../../../assets/img/img5.jpg" height="300px" width="520px">
    </div>
    <div class="col-md-4">
      <img src="../../../assets/img/electro1.jpg" height="300px" width="520px">
    </div>
    <div class="col-md-4">
      <img src="../../../assets/img/electro2.jpg" height="300px" width="450px">
    </div>


  </div>

  <br><br><br><br>
  <div class="container">
    <table class="table">
      <thead>
        <tr class="table-info">
          <th scope="col">CODIGO</th>
          <th scope="col">NOMBRE</th>
          <th scope="col">EXISTENCIAS</th>
          <th scope="col">SALIDAS</th>
          <th scope="col">STOCK</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-warning">
          <th scope="row">tv001</th>
          <td>TV LG 32 pulgadas</td>
          <td>120</td>
          <td>50</td>
          <td>60</td>
        </tr>
        <tr class="table-danger">
          <th scope="row">nv001</th>
          <td>Nevera Haceb</td>
          <td>70</td>
          <td>20</td>
          <td>50</td>
        </tr>
        <tr class="table-success">
          <th scope="row">sn001</th>
          <td>Minicomponente Samsung</td>
          <td>30</td>
          <td>15</td>
          <td>15</td>
        </tr>
        <tr class="table-secondary">
          <th scope="row">lh001</th>
          <td>Lavadora Haceb</td>
          <td>40</td>
          <td>25</td>
          <td>35</td>
        </tr>
        <tr class="table-light">
          <th scope="row">kl001</th>
          <td>Horno microondas Kalley</td>
          <td>50</td>
          <td>35</td>
          <td>45</td>
        </tr>
        <tr class="table-warning">
          <th scope="row">tv002</th>
          <td>TV LG 72 pulgadas</td>
          <td>60</td>
          <td>45</td>
          <td>25</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>